<#macro kw>
  <div class="font-bold text-center text-2xl">
       <div class="flex flex-col items-center justify-center">  <img src="${url.resourcesPath}/public/ubos-logo-2.png" alt="Logo" style="
    height: 60px;
    padding-top: 10px;">  </div>
   
  </div>
</#macro>
